[submodule "05-Foundry_SimpleStorage/lib/forge-std"]
	path = 05-Foundry_SimpleStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "06-Foundry_FundMe/lib/forge-std"]
	path = 06-Foundry_FundMe/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "06-Foundry_FundMe/lib/chainlink-brownie-contracts"]
	path = 06-Foundry_FundMe/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "06-Foundry_FundMe/lib/foundry-devops"]
	path = 06-Foundry_FundMe/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "08-SmartContract_Lottery/lib/forge-std"]
	path = 08-SmartContract_Lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "08-SmartContract_Lottery/lib/chainlink-brownie-contracts"]
	path = 08-SmartContract_Lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "08-SmartContract_Lottery/lib/solmate"]
	path = 08-SmartContract_Lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "08-SmartContract_Lottery/lib/foundry-devops"]
	path = 08-SmartContract_Lottery/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
